

#div_main_container
{
    width:1000px;

}            


            #div_middle   , .div_middle                                /* div middle contents  */ 
            {
                width : 820px;
                margin-left : auto; 
                margin-right : auto;
                margin-top : 20px;
                border : 1px solid rgb(200,200,200);
                border-radius: 10px;
                padding-bottom : 30px;
            }
                                             
                                                                /*Blog Container*/
            
            #div_blog_container   , .div_blog_container
            {
                float : left ; 
                width : 800px;
                height : 550px;
                border-top: 1px solid rgb(200,200,200);
                margin-top : 30px;
            }

#ContentPlaceHolder1_dlBlog
{
    margin:auto;
}
            
            #div_blog_title, .div_blog_title                          /* Div Blog title  */
            {
                height : 50px;
                margin-left : 20px;
                padding-left : 10px;
                padding-top : 10px;
                color : rgb(200,200,200);
                font-size : 35px;
                border : none;
                outline : none ; 
                overflow:hidden;
                font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
            }
            
            #txtBlogTitle
            {
                width : 990px;
                height : 50px;
                margin-top: 5px;
                color : rgb(200,200,200);
                font-size : 35px;
                border : none;
                outline : none ; 
                font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
                overflow : hidden;
            }
            
                                                                    /*End Of Blog title*/
            
            
             
          
                                                           
           
            #div_blog_date_time  , .div_blog_date_time                         /* Blod Date & Time */
            {
                margin-left : 20px;
                padding-left : 10px;
                height : 25px;
                color : rgb(21,112,166);
                font-family: Arial,sans-serif;
            }                                                    
            
            
            #div_blog_body          , .div_blog_body                     /*Div Blog Body*/
            {
                
                margin-left : 10px;
                padding-left : 20px;
                padding-top : 10px;
                padding-right : 20px;
                padding-bottom : 10px;
                overflow: hidden;
                height : 400px;
                outline : none; 
                text-align :justify;
                font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
            }
            
                                                                /*End Of Blog Body*/

                                                         /* Options : read more */
.div_blog_options
{
     font-family : Arial ; 
     font-size : 12px;
     margin-top : 10px;
     text-align:right;
     padding-right : 30px;
     height : 12px;
     background : rgb(200,200,200);
     padding-top : 8px;
     padding-bottom : 10px;

}                                 

.lnkbtn_blog_readmore
{
    text-decoration : none ;
    color : rgba(255, 106, 0,1);
}                                                                     /*End Of Options : read more */  
                             
          