 /*body 
            {
                padding : 0px;
                margin : 0px;
            }*/
            
            /*#div_head
            {
                height :75px; 
                border-bottom : 2px Solid rgb(21,112,166) ;
            }*/
            
            
           /* #div_spacer1
            {
                width : 50px;
                float : left;
                height : 75px;
            } */
            
            #div_menu_bar
            {
                width : 250px;
                border-right : 1px Solid rgb(200,200,200) ;
                border-bottom : 1px Solid rgb(200,200,200) ;
                border-left :  1px Solid rgb(200,200,200) ;
                height : 500px;
                float : left ; 
                color : rgb(131,140,140);
                margin : 0px;
                padding : 0px;
            }
            
            #div_menu_bar ul
            {
                padding : 0px;
            }
            
            #div_menu_bar ul li 
            {
                list-style-type : none ;
                height : 60px;
                border-top : 1px Solid rgb(200,200,200); 
                display : block;
                cursor : pointer;
                -webkit-transition: background-color 0.5s ease, color 0.5s ease;
                -moz-transition: background-color 0.5s ease, color 0.5s ease;
                -o-transition: background-color 0.5s ease, color 0.5s ease;
                transition: background-color 0.5s ease, color 0.5s ease;
                
                
            }
            
            #li_7
            {
                 border-bottom : 1px Solid rgb(200,200,200); 
            }
            
            #div_menu_bar ul li:hover 
            {
                background-color : rgb(21,112,166);
                
            }
            
            .a_menu 
            {
                text-decoration : none ;
                color : rgb(131,140,140);
                 -webkit-transition: color 0.5s ease;
                -moz-transition: color 0.5s ease;
                -o-transition: color 0.5s ease;
                transition: color 0.5s ease;
                display : block ;
                height:60px;
                padding-left: 30px;
                padding-top: 17px;  
            }
            
            .a_menu:hover
            {
                color : rgb(255,255,255);
            }


#a_vertical_menu1
{
    background-color : rgb(21,112,166); 
    color : rgb(255,255,255);
}



